<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Admin Dashboard Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/quixlab-main/theme/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/quixlab-main/theme/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/quixlab-main/theme/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href=".~/quixlab-main/theme/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/quixlab-main/theme/css/style.css" rel="stylesheet">

</head>